@font-face {
    font-family: 'Dumverse';
    src: url('./Dumverse_Font.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body, html {
    z-index: 2;
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Dumverse', Georgia, Arial;
    color: white;
    background: linear-gradient(to right, #8c52ff, #5ce1e6);

}

.header {
    width: 100%;    
    display: flex;
    justify-content: center;  /* Center the entire content of the header */
    align-items: center;
    
    position: relative;  /* Allows absolute positioning for the button */
}

.header h2 {
    margin-top: 20px;
    margin-bottom: 0;
    margin-left: 130px;
    margin-right: auto;
    font-weight: 200;
    font-size: 35px;
    text-decoration: none;
}


.header a {
    color: inherit;  /* This will keep the link color same as the text */
    text-decoration: none;  /* This removes the underline */
}

/* Optional: if you want a hover effect */
.header a:hover {
    text-decoration: underline;  /* Adds underline on hover */
}

/* This ensures the links stay the same color even after being visited */
.header a:visited {
    color: inherit;
}

.header-divider {
    font-family: Arial, sans-serif;  /* Clean, standard font */
    font-weight: 100;  /* Make it thinner */
    font-size: 45px;  /* Make it larger */
    margin: 0;  /* Add some spacing around it */
    vertical-align: text-bottom;  /* Align it vertically */
    color: white;  /* Slightly less bright than text */
}

.listingsToggle {
    position: absolute;
    left: 485px;
    margin-top: 57px;
    margin-right: auto;
    font-weight: 200;
    font-size: 22px;
    cursor: pointer;
}

.logo-link {
    position: absolute; /* Match the logo's absolute positioning */
    top: 10px; /* Same as the logo's margin-top */
    left: 25px; /* Same as the logo's margin-left */
    display: inline-block; /* Ensure the link wraps the content */
    text-decoration: none; /* Remove underline (if needed) */
    height: 100%;
    width: auto;
}

.mainLogo {
    height: 100%; /* Maintain the logo's small size */
    display: block; /* Prevent inline spacing issues */
}


.logo-container {
    top: 0;
    margin: 0;
    padding: 0;
}

.historyNav {
    position: absolute;
    left: 620px;
    margin-top: 57px;
    margin-right: auto;
    font-weight: 200;
    font-size: 22px;
    cursor: pointer;
}

.connect-button {
    font-family: 'Dumverse';
    padding: 8px 16px;
    font-size: 26px;
    color: #ffffff;
    background: linear-gradient(to right, #9cd7ed, #029dd1);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
    position: absolute;
    top: 30px;
    right: 50px;  /* Position the button to the right */
}

.connect-button:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.connect-button:active {
    transform: scale(0.95);  /* Slightly shrink the button */
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.3);  /* Add an inset shadow to make it look pressed */
    cursor: pointer;
}


.container {
    flex-grow: 1;
    padding: 20px;
    margin: 0 auto;  /* Center the entire container */
    width: 80%;  /* Limit the width for better alignment */
}

.form-container {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;  /* Center the form itself */
    padding: 20px;
    border-radius: 15px;
    background-color: #8c52ff;
    display: none;
}

.form-container h2 {
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 200;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: 200;
}

.form-group input, .form-group select {
    width: 100%;  /* Ensure inputs are full width */
    max-width: 150px;  /* Limit the width of inputs */
    width: 150px;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 10px;
    font-size: 14px;
    text-align: left;  /* Center the text inside input fields */
}

.search-button {
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'Dumverse';
    color: #ffffff;
    background: linear-gradient(to right, #9cd7ed, #029dd1);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 0;
    text-decoration: none;
}

.search-button:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.search-button:active {
    transform: scale(0.95);  /* Slightly shrink the button */
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.3);  /* Add an inset shadow to make it look pressed */
    cursor: pointer;
}

.button {
    padding: 10px 20px;
    font-size: 26px;
    font-family: 'Dumverse';
    color: #ffffff;
    background: linear-gradient(to right, #9cd7ed, #029dd1);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
    text-decoration: none;
}

.button:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.button:active {
    transform: scale(0.95);  /* Slightly shrink the button */
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.3);  /* Add an inset shadow to make it look pressed */
    cursor: pointer;
}

.placeBidButton{
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'Dumverse';
    color: #ffffff;
    background: linear-gradient(to right, #9cd7ed, #029dd1);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
}

.bid-section .bidAmountInput {
    height: 16px;  
    padding: 10px;  
    margin-right: 10px;
    font-size: 16px;  
    border-radius: 15px;
    border: solid 1px white;
}

/* Dropdown Option Styling */
.dropdown-option {
    cursor: pointer;
    padding: 16px; /* Adjusted padding to accommodate the larger thumbnail */
    display: flex;

}



/* Thumbnail and Title Styling */
.dropdown-option img{
    width: 250px;
    height: auto;
    margin-bottom: 10px; /* Space between image and title */
}

.dropdown-option span{
    text-align: center;
    font-size: 16px;
}

#assetDropdown {
    position: relative;
    margin-left: 43%;
    padding-bottom: 15px;
}

/* Parent container for the asset dropdown */
#assetDropdown .selected {
    display: flex;
    flex-direction: column;
    align-items: center;  /* Center horizontally */
    justify-content: center;  /* Center vertically */
    position: absolute;
    width: 300px;  /* Define a fixed width for the image area */
    height: 300px;  /* Define a fixed height for the image area */
    border: 1px solid white;
    border-radius: 8px;
    color: white;
    overflow: hidden;  /* Hide any overflow to keep it clean */
}

/* Image styling to fit inside the container without stretching */
#assetDropdown .selected img {
    width: 80%;  /* Scale the image to fit the width */
    height: 80%;  /* Scale the image to fit the height */
    border-radius: 8px;
    object-fit: contain;  /* Ensure it fits without distortion */
}

/* Optional: Add padding and styling for the span below the image */
#assetDropdown .selected span {
    margin-top: 10px;
    font-size: 26px;
    color: white;
    text-align: center;
    cursor: pointer;
}


#assetDropdown .selected span:hover {
    color: #5ce1e6; /* Change text color on hover */
    transform: scale(1.05); /* Slightly enlarge the text on hover */
}

/* Asset selection modal specific styles */
.asset-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-bottom: 20px;
}

.asset-option {
    cursor: pointer;
    padding: 16px;
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #ccc;
}

.asset-option img {
    max-width: 150px;
    max-height: 150px;
    height: auto;
    margin-right: 10px;
}

.asset-option span {
    font-size: 16px;
    color: white;
    text-align: left;
}

/* Pagination buttons */
.pagination-controls {
    display: flex;
    justify-content: space-between;
    font-family: 'Dumverse';
    color: white;
    font-size: 26px;

}

.pagination-controls button {
    padding: 8px 16px;
    font-family: 'Dumverse';
    font-size: 26px;
    color: white;
    background: linear-gradient(to right, #9cd7ed, #029dd1);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.pagination-controls button:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.pagination-controls button:active {
    transform: scale(0.95);  /* Slightly shrink the button */
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.3);  /* Add an inset shadow to make it look pressed */
}




/* Add this to your CSS file */
.toast-message {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 10000;
    opacity: 0; /* Start hidden */
    visibility: hidden; /* Ensure it's hidden initially */
    transition: opacity 0.5s ease-in-out, visibility 0.5s;
}

.toast-show {
    opacity: 1; /* Fade in */
    visibility: visible; /* Show the element */
}

.toast-hide {
    opacity: 0; /* Fade out */
    visibility: hidden; /* Hide the element */
}




/* General layout for auction grid */
.live-auctions {
    margin-top: 50px;
    text-align: center;
    width: 100%;
}

.auctions-header {
    display: flex;
    justify-content: center; /* Center the content horizontally */
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
}

.auctions-header h2 {
    font-weight: 200;
    font-size: 4vh;
    align-items: center;
    text-align: center;
}

.search-container {
    position: absolute;
    display: flex;
    left: 840px;
    margin-right: auto;
    top: 35px;
}

#auctionSearch {
    padding: 8px 16px;
    border-radius: 25px;
    border: none;
    font-size: 18px;
    width: 300px;
    font-family: 'Dumverse';
    background: rgba(255, 255, 255, 0.1);
    color: white;
    transition: all 0.3s ease;
}

#auctionSearch::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

#auctionSearch:focus {
    outline: none;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #8c52ff;

    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    z-index: 1000;
}

.dropdown-section h3 {
    padding: 8px 12px;
    margin: 0;
    background: linear-gradient(to right, #9cd7ed, #029dd1);
    border-bottom: 1px solid #ddd;
    font-weight: 200;
    border-radius: 20px;
}

.collection-item {
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 20px;
}

.collection-item:hover {
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.5);
}

.auction-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    justify-items: center;
    padding: 20px;
    width: 100%;
    max-width: 100%;
}

/* Auction thumbnail styling */
.auction-thumbnail {
    background-color: #8c52ff;
    border-radius: 8px;
    padding: 15px;
    width: 210px;
    height: 300px; /* Static height for the thumbnail */
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Thumbnail image with enforced size */
.auction-thumbnail img {
    width: 100%;
    height: 200px; /* Static height */
    object-fit: contain; /* Scale image to fit the box without overflowing */
    border-radius: 8px;
}

/* Thumbnail text styling */
.auction-thumbnail h3 {
    margin: 2px 0;
    padding-bottom: 5px;
    font-size: 20px;
    font-weight: 200;
    color: white;
    text-align: center;
    border-bottom: 1px solid white;
}

.auction-thumbnail p {
    margin: 2px 4px;
    font-size: 14px;
    color: white;
    text-align: left;
}

/* Add hover effect on auction thumbnails */
.auction-thumbnail:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.bid-section {
    border-bottom: solid 2px white;
}

.bid-section .bidAmountInput {
    margin-bottom: 0;
    height: 16px;  
    padding: 10px;  
    margin-right: 10px;
    font-size: 16px;  
    border-radius: 15px;
    border: solid 1px white;
    font-family: Dumverse;
}


#placeBidButton {
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px 35px;
    font-size: 16px;
    color: #ffffff;
    background: linear-gradient(to right, #9cd7ed, #029dd1);
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

#placeBidButton:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

#placeBidButton:active {
    transform: scale(0.95);
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.3);
}

#cancelAuctionButton {
    margin: auto;
    width: 95%;
    margin-top: 0px;
    margin-bottom: 5px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

#cancelAuctionButton:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

#cancelAuctionButton:active {
    transform: scale(0.95);
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.3);
}

#cancelAuctionButton:disabled {
    display: none;
}

/* Modal Popup */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-container {
    background-color: #8c52ff;
    margin: 15% auto;
    padding: 5px;
    border: 1px solid white;
    width: 960px;
    max-height: 700px; /* Fixed height for modal */
    text-align: center;
    border-radius: 25px;
    overflow-y: auto;
}

.modal-content {
    display: inline-flex;
}

.modal-dropdown {
    background-color: #8c52ff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid white;
    width: 80%;
    max-width: 600px;
    max-height: 700px; /* Fixed height for modal */
    text-align: center;
    overflow: auto;
} 

/* Modal close button */
.modal .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal .close:hover,
.modal .close:focus {
    transform: scale(1.15);
    cursor: pointer;
}

.modal .close:active {
    transform: scale(0.95);  /* Slightly shrink the button */
    cursor: pointer;
}



.auction-image {
    margin-right: 0px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 0px;
    right: auto;
    padding: 0%;
    width: 500px;      /* Set a fixed width */
    height: 500px;     /* Set a fixed height to ensure a uniform box size */
    object-fit: contain;  /* Ensure the image fits within the box without being distorted */
    border-radius: 8px;
    border: solid white;
}

.auction-details h3 {
    text-decoration: underline;
    text-align: center;
    margin-right: 20px;
    margin-left: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 200;
    font-size: 32px;
}

.auction-details p {
    font-weight: 200;
    font-size: 20px;
}

.auction-box {
    margin: 10px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 25px;
    width: auto;
    height: 85%; /* Allow it to grow fully in height */
    display: flex;  /* Use flexbox */
    flex-direction: column; /* Stack children vertically */
    justify-content: space-between; /* Ensure space is evenly distributed */
    box-sizing: border-box; /* Make sure padding and border are included in width/height */
}

.auction-quantity {
    text-align: center;
    border-bottom: solid 2px white;
    margin-top: 0px;
    margin-bottom: 5px;
    padding-bottom: 10px;
}

.auction-price {
    display: flex;                 /* Enable flexbox layout */
    justify-content: space-between; /* Push the text to the left and span to the right */
    align-items: center; 
    margin-bottom: 5px;          /* Vertically align items in the middle */
}

.auction-price span {
    margin-left: 5px;
    display: inline-block;         /* Ensure the span behaves like a block but stays inline */
    padding: 7px;
    background-color: rgba(255, 255, 255, 0.4);
    text-align: center;            /* Center the text within the span */
    min-width: 200px; 
    width: 80;             /* Optional: set a minimum width to control size */
    border-radius: 8px;    /* Center the text within the box */
}

.auction-bid {
    display: flex;                 /* Enable flexbox layout */
    justify-content: space-between; /* Push the text to the left and span to the right */
    align-items: center; 
    margin-bottom: 5px; 
}

.auction-bid span {
    margin-left: 5px;
    display: inline-block;         /* Ensure the span behaves like a block but stays inline */
    padding: 7px;
    background-color: rgba(255, 255, 255, 0.4);
    text-align: center;            /* Center the text within the span */
    min-width: 200px;              /* Optional: set a minimum width to control size */
    border-radius: 8px;            /* Optional: give the span rounded corners */
}

.auction-countdown {
    width: 100%;
    text-align: center;
    margin: auto;
    padding-bottom: 0;
    margin-top: 20px;
    margin-bottom: 0px;
    border-bottom: solid 2px white;
}

.countdown-timer {
    text-align: center;
    margin: auto;
    padding-bottom: 0px;
}

.auction-end {
    text-align: center;
    margin: auto;
}

.last-bidder h3 {
    text-decoration: underline;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 200;
    font-size: 20px;
}

.last-bidder p {
    margin-top: 0px;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    color: white;
}

.bidder-address span a {
    color: white; /* Keep the link text always white */
    text-decoration: none; /* Remove the default underline */
}

.bidder-address span a:hover {
    text-decoration: underline; /* Show underline on hover */
}

/* Optional: Override default visited and active link styles */
.bidder-address span a:visited,
.bidder-address span a:active {
    color: white; /* Ensure visited or active state doesn't change color */
}

.asset-owner {
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.asset-owner span a {
    color: white; /* Keep the link text always white */
    text-decoration: none; /* Remove the default underline */
}

.asset-owner span a:hover {
    text-decoration: underline; /* Show underline on hover */
}

/* Optional: Override default visited and active link styles */
.asset-owner span a:visited,
.asset-owner span a:active {
    color: white; /* Ensure visited or active state doesn't change color */
}


/* Small Devices (Phones, <600px) */
@media (max-width: 599px) {
    .container {
        width: 90%; /* Reduce width for smaller screens */
    }

    .form-container {
        max-width: 100%; /* Make form full-width */
        padding: 15px;
    }

    .form-group input, .form-group select {
        max-width: 100%; /* Full width for inputs */
        font-size: 14px;
    }

    #assetDropdown .selected {
        width: 250px; /* Smaller asset preview */
        height: 250px;
        position: relative;
    }

    .connect-button {
        right: 10px;
    }

    .auction-thumbnail {
        height: 300px; /* Adjust thumbnail height */
    }
}

/* Medium Devices (Tablets, 600px - 900px) */
@media (min-width: 600px) and (max-width: 899px) {
    .container {
        width: 85%; /* Slightly reduce width */
    }

    .form-container {
        max-width: 90%; /* Expand form container */
    }

    .form-group input, .form-group select {
        max-width: 100%;
        font-size: 15px;
    }

    #assetDropdown .selected {
        width: 275px; /* Adjust asset preview size */
        height: 275px;
        position: relative;
        margin-right: 100px;
    }

    .auction-thumbnail {
        height: 325px; /* Adjust thumbnail size */
    }
}


@media (min-width: 1300px) and (max-width: 1440px) {

    .form-container {
        max-width: 50%; /* Maintain layout */
    }

    .search-container {
   
        display: flex;
        left: 750px;
        margin-right: auto;
        top: 35px;
    }

    #auctionSearch {
        font-size: 16px;
        width: 235px;
    }

}

.search-icon {
    display: none;
}

.search-overlay {
    display: none;
}

@media (min-width: 900px) and (max-width: 1299px) {

    .search-container {
   
        display: flex;
        left: 750px;
        margin-right: auto;
        top: 35px;
        
    }

    #auctionSearch {
        display: none;
    }

    .search-icon {
        display: block;
        width: 30px;
        height: 30px;
        background-image: url('search_icon.png');
        background-size: cover;
        cursor: pointer;
    }

    .search-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 10%;
        background-color: rgba(0, 0, 0, 0.8);
        display: none;
        justify-content: center;
        align-items: center;
        z-index: 500;
        font-family: 'Dumverse';
        
    }

    .search-overlay.active {
        display: flex;
    }

    #auctionSearchOverlay {
        width: 80%;
        max-width: 600px;
        padding: 12px 40px 12px 16px;
        font-size: 20px;
        border-radius: 25px;

    }

    #auctionSearch::placeholder {
        color: white;
        opacity: 0.7;
        src: url('./Dumverse_Font.ttf') format('truetype');
    }

    .search-dropdown {
        position: absolute;
        top: 5vh;
        left: auto;
        right: auto;
        align-items: center;
        justify-content: center;
        width: 250px;
        background: #8c52ff;
    
        border-radius: 20px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        z-index: 1000;
    }
    
    .dropdown-section h3 {
        padding: 8px 12px;
        margin: 0;
        background: linear-gradient(to right, #9cd7ed, #029dd1);
        border-bottom: 1px solid #ddd;
        font-weight: 200;
        border-radius: 20px;
    }

    .close-icon {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 24px;
        height: 24px;
        background-image: url('close_icon.png');
        background-size: cover;
        cursor: pointer;
    }
}




